<!-- Weather -->
<section class="rounded-2xl border border-slate-200 bg-white shadow-sm overflow-hidden">

  <header class="rounded-t-2xl bg-indigo-100 px-5 py-2">
    <h2 class="text-lg font-semibold text-sky-900">Weather</h2>
  </header>

  <div class="flex-col">
    <div class="flex flex-row space-x-3  py-2 px-4 justify-between">

      <!-- Current Weather -->
      <div class="flex flex-col space-y-0">
        <div class="text-xl font-semibold text-slate-900 text-center"><%= @weather[:temp_now_c].round %>&deg;</div>
        <div class="text-sm test-slate-900 text-center">Feels like <%= @weather[:feels_like_now_c].round %>&deg;</div>
        <img class="w-20" src="images/weather/<%= @weather[:weathercode_now_image] %>">
      </div>

      <!-- Forecast -->
      <div class="flex flex-row">
        <table class="table-auto border-spacing border-spacing-y-1 border-spacing-x-3 border-separate ">
          <thead>
          <tr>
            <th class="text-left font-semibold text-sm ">Time</th>
            <th class="text-left font-semibold text-sm ">Temp</th>
            <th class="text-left font-semibold text-sm ">Rain</th>
            <th class="text-left font-semibold text-sm ">Wind</th>
          </tr>
          </thead>
          <tbody>
          <% @weather[:forecast].each do |slot| %>
            <% if slot[:time] == '12am' %>
              <tr>
                <td colspan="4" class="p-0">
                  <hr class="border-slate-300">
                </td>
              </tr>
            <% end %>
            <tr class="text-sm">
              <td><%= slot[:time] %></td>
              <td class="text-center"><%= slot[:temperature_2m].round %>&deg;</td>
              <td class="text-center"><%= slot[:precipitation_probability] %>%</td>
              <td class="text-center"><%= slot[:wind_speed_10m].round %> kph</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

