<!-- Weather -->
<section class="rounded-2xl border border-slate-200 bg-white shadow-sm overflow-hidden">

  <header class="rounded-t-2xl bg-indigo-100 px-5 py-2">
    <h2 class="text-lg font-semibold text-sky-900">Weather</h2>
  </header>

  <div class="flex-col">
    <div class="flex flex-row space-x-3  py-2 px-4">
      <div class="">
        <div class="flex-1">
          <p class="text-sm text-slate-900">Temp</p>
        </div>
        <div>
          <p class="text-xl font-semibold text-slate-900"><%= @weather[:temp_now_c].round %> &deg;C</p>
        </div>
        <div class="text-sm test-slate-900">Feels like <%= @weather[:feels_like_now_c].round %> &deg;C</div>
      </div>
      <div class="flex flex-row">
        <img class="w-20" src="images/weather/<%= @weather[:weathercode_now_image] %>">
      </div>
      <div class="flex flex-row">
        <table class="table-auto border-spacing border-spacing-y-1 border-spacing-x-3 border-separate ">
          <thead>
          <tr>
            <th class="text-left font-semibold text-sm ">Time</th>
            <th class="text-left font-semibold text-sm ">Temp</th>
            <th class="text-left font-semibold text-sm ">Rain</th>
            <th class="text-left font-semibold text-sm ">Wind (kph)</th>
          </tr>
          </thead>
          <tbody>
          <% @weather[:forecast].each do |slot| %>
            <tr class="text-sm">
              <td><%= slot[:time] %></td>
              <td><%= slot[:temperature_2m].round %>&deg;</td>
              <td><%= slot[:precipitation_probability] %>%</td>
              <td><%= slot[:wind_speed_10m].round %> kph</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

