<html>
<head>
  <title>Family Info</title>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-slate-50 h-full">
<div class="bg-slate-50 h-full mx-auto flex justify-center">
  <div class="h-[480px] w-[800px]">
    <div class="columns-2 gap-3 space-y-3 p-1">
      <%= include_erb("templates/_weather.html.erb") %>
      <%= include_erb("templates/_shows.html.erb") %>
      <%= include_erb("templates/_calendar.html.erb") %>
      <%= include_erb("templates/_bins.html.erb") %>
      <%= include_erb("templates/_restaurants.html.erb") %>
    </div>
  </div>
</div>
</body>
</html>